.formContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
}

.speakerContainer, .speakFormContainer {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 10px
}